* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #04ff26, #007ac0);
    color: #fff;
;}

.container{
    text-align: center;
}

.button-quote{
    background: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 12px;
    max-width: 500px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}